html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../assets/images/topography.png");
  margin-bottom: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

.social:hover {
  cursor: pointer;
  opacity: 0.8;
}

.panel-body {
  margin-left: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #666666;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  padding: 1em;
  margin-top: 10px;
}

.work {
  position: relative;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.work a {
  padding: 0;
}

.navbar-brand {
  background-color: #4aaaa5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  height: 79px;
  color: #ffffff;
  padding-top: 20px;
  font-size: 36px;
}

.navbar-brand:hover {
  background-color: #ffffff;
  color: #4aaaa5;
}

.navbar {
  height: 80px;
  background: #ffffff;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.text-muted {
  color: #ffffff;
  font-size: 16px;
  padding: 15px;
}

.navbar-default .navbar-nav>li>a {
  padding-top: 30px;
}

h1, .navbar-brand, .panel-title {
  color: #4aaaa5;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 2em;
}

.panel-title {
  background-color: #ffffff;
  padding: 20px;
  line-height: 22px;
  border-bottom: 1px solid #eee;
  font-size: 1.17em;
  font-weight: bold;
  text-align: center;
}

.panel-heading {
  padding: 0;
  background-color: #fffff;
}

